:root {
    --bg_blue: #B5DDFF;
}

/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

/* utility */

.flex {
    display: flex;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: rgb(56, 56, 56);
}

.bg-darkblue {
    background-color: rgb(32, 32, 46);
}

.bg-cards {
    background-color: var(--bg_blue);
}

.\lightblue {
    background-color: #B4D0E7;
}

nav.bg-blue {
    background-color: #0084FD;
}

.block {
    display: block;
}

.inblock {
    display: inline-block;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.column {
    display: flex;
    flex-direction: column;
}

.col {
    width: 100%;
}

.col-2 {
    width: calc(2 * 100% / 12);
}

.col-3 {
    width: calc(3 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12 );
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-12 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.container{
    margin: 0 auto;
    width: 100%;
}

.container-md{
    margin: 0 auto;
}

.margin-bottom100 {
    margin-bottom: 100px;
}

/* navbar */

.logo {
    color: white;
    width: fit-content;
    font-size: 25px;
}

nav div.row {
    justify-content: space-between;
    padding: 45px;
}

.navbar-list {
    color: white;
}

.cards-section {
    width: 100%;
}

.container {
    width: 100%;
}

div [class^='col-'] {
    padding: 12px 12px;
}

/* cards section */

.card {
    border-radius: 25px;
}

.card-info {
    padding: 24px;    
}

.card-img {
    display: block;
    align-self: flex-end;
}


/* MEDIA QUERY */
@media screen and (max-width:991px) {
    nav.bg-blue ul{
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .col-md-8 {
        width: calc(8 * 100% / 12);
    }
}

@media screen and (min-width: 992px) {
    nav.bg-blue i.fa-bars{
        display: none;
    }

    .navbar-list li {
        margin: 0 10px;
        font-size: 20px;
    }


    .container {
        max-width: 1200px;
    }
}